#fp-nav.right {
    right: 25px;
}

#fp-nav ul li,
.fp-slidesNav ul li {
    display: block;
    width: 25px;
    height: 3px;
    margin: 30px;
    position: relative;
}

#fp-nav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li a.active span,
.fp-slidesNav ul li:hover a.active span {
    border-radius: 0%;
    height: 4px;
    width: 35px;
    background: var(--mc);
    transform: rotate(20deg);
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    border-radius: 0%;
    height: 3px;
    width: 25px;
    background: rgba(0, 0, 0, 0.3);
}


#fp-nav ul li .fp-tooltip {
    /* b */
    font-size: 20px;
    font-size: 800;
    top: 0;
    color: var(--pc);
}

/* ===================================== */

body {
    position: relative;
}

body::before {
    position: absolute;
    content: "";
    top: 0;
    left: 110px;
    width: 1px;
    height: 100%;
    background: rgba(221, 221, 221, 0.5);
    z-index: 9999;
}

body::after {
    position: absolute;
    content: "";
    top: 0;
    right: 110px;
    width: 1px;
    height: 100%;
    background: rgba(221, 221, 221, 0.5);
    z-index: 9999;
}

:root {
    --mc: #a73b59;
    --bg: #f7f7f7;
    --pc: #e89b15;
}

.header {
    position: fixed;
    inset: 0 0 0 0;
    height: 100px;
    z-index: 9999;
    border-top: 3px solid var(--pc);
    border-bottom: 1px solid rgba(221, 221, 221, 0.5);
}

.header_wrap {
    align-items: center;
    position: relative;
    transition: 0.5s;
    /*     border-bottom: 1px solid rgba(221, 221, 221, 0.5); */
}

.header_wrap .sec {
    display: flex;
    justify-content: space-around;
    height: 98px;
    border-left: 1px solid rgba(221, 221, 221, 0.2);
    border-right: 1px solid rgba(221, 221, 221, 0.2);

    color: #fff;
}

.header_wrap:hover {
    background: #fff;
}

.header_wrap .sec:hover {
    color: #000;
}

.header_wrap .sec .logo {
    z-index: 1;
}

.header_wrap .sec .lo_r {
    display: none;
}

.header_wrap:hover .lo_r {
    display: block;
}

.header_wrap:hover .lo_w {
    display: none;
}

/* ----------------------------------- */
.header.on .header_wrap .sec {
    color: #000;
}

.header.on .lo_w {
    display: none;
}

.header.on .lo_r {
    display: block;
}

/*  */
.header.in {
    background: #fff;
}

.header.in .header_wrap .sec {
    color: #000;
}

.header.in .lo_w {
    display: none;
}

.header.in .lo_r {
    display: block;
}


/* ----------------------------------- */

.header_wrap .gnb>ul {
    display: flex;
    font-size: 20px;
}

.header_wrap .gnb>ul>li {
    padding: 38px 40px;
}

.header_wrap .gnb>ul>li:hover {
    color: var(--mc);
    font-weight: 700;
}

.header_wrap .link {
    display: flex;
    gap: 30px;
    font-size: 18px;
    align-items: center;
}

.header_wrap .link .list {
    font-size: 35px;
}

.header_wrap .sub {
    position: absolute;
    display: flex;
    top: 97px;
    left: 0;
    width: 100%;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background: #fff;

    visibility: hidden;
    opacity: 0;

    color: initial;
    font-weight: initial;

    box-shadow: 1px 10px 9px 2px rgba(0, 0, 0, 0.13);
}

.header_wrap .gnb>ul>li:hover .sub {
    opacity: 1;
    visibility: visible;
}

.header_wrap .sub .title {
    font-size: 30px;
    font-weight: 700;
    padding: 35px 0;
    color: var(--mc);
}


.header_wrap .left {
    width: 455px;
    border-right: 1px solid #ddd;
    padding: 0 20px;
    color: initial;
}

.header_wrap .right>li>a {
    position: relative;
    display: block;
    font-size: 20px;
    font-weight: 500;
    padding: 15px 30px;
    border: 1px solid #ddd;
    color: #666;
    overflow: hidden;
    transition: all .2s;
}

.header_wrap .right>li>a::before {
    position: absolute;
    content: "\f285";
    top: 30%;
    right: 5%;
    font-family: bootstrap-icons;
    color: #fff;
}

.header_wrap .right>li>a:hover {
    background: #a73b59;
    color: #fff;
}

.header_wrap .cub {
    position: relative;
    top: 0;
    background: var(--bg);
}

.header_wrap .cub li {
    position: relative;
    padding: 15px 40px;
    font-size: 18px;
    line-height: 15px;
    color: #666;
    text-align: left;
}

.header_wrap .cub li::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 8%;
    width: 3px;
    height: 3px;
    background: #c7c7c7;
    border-radius: 50%;
}

.header_wrap .cub li:hover {
    color: var(--mc);
    font-weight: 600;
    text-decoration: underline;
}

.header_wrap .one {
    display: flex;
    justify-content: center;
    color: initial;
}


.header_wrap .one .one_left {
    padding: 0 30px;
    border-right: 1px solid #ddd;
}

.header_wrap .one .one_left p {
    font-size: 25px;
    margin: 0 0 35px 0;
}

.header_wrap .one .one_left input[type="text"] {
    border: 1px solid #ccc;
    outline: none;
    font-size: 15px;
    padding: 15px 20px;
}

.header_wrap .one .one_left button {
    background: var(--pc);
    border: none;
    font-size: 15px;
    padding: 15px;
    color: #fff;
}

.header_wrap .one .one_right {
    display: flex;
    text-align: center;
}

.header_wrap .one_right li {
    padding: 50px 30px;
}


.header_wrap .one_right li:hover {
    background: var(--mc);
    color: #fff;
}


.header_wrap .one li {
    position: relative;
}

.header_wrap .one li~li::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
    background: #ddd;
}

.header_wrap .one_right img {
    display: block;
    overflow: visible;
    height: 110px;
    margin-bottom: 20px;
    padding: 30px;
    background: var(--bg);
    border: 1px solid #ddd;
    border-radius: 50%;
}

.header_wrap .one_right p {
    font-size: 25px;
}

.header_wrap .two {
    display: flex;
    justify-content: center;
}

.header_wrap .two_left {}

.header_wrap .two_left p {
    font-size: 25px;
    margin: 0 0 35px 0;
}

.header_wrap .two_left i {
    font-size: 20px;
    padding: 8px 12px;
    background: var(--bg);
    border-radius: 50%;
    border: 1px solid #ddd;
    margin: 0 5px 0 0;
}

.header_wrap .two_left input {
    border: 1px solid #ccc;
    outline: none;
    font-size: 15px;
    padding: 15px 20px;
    width: 40%;

    margin: 0 0 30px 0;
}

.header_wrap .two_left input[type="text"] {
    margin-left: -6px;
    width: 40%;
}

.header_wrap .two_left button {
    background: var(--pc);
    border: none;
    font-size: 15px;
    padding: 15px;
    color: #fff;
}

.header_wrap .two_left .btn {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    gap: 30px;
    margin: 0 0 30px 0;
}

.header_wrap .two_left .btn a {
    color: #666;
    padding: 15px 0;
    border: 1px solid #ddd;
    border-radius: 25px;
}

.header_wrap .two_left .btn a:hover {
    border: 1px solid var(--mc);
    color: var(--mc);
    font-weight: 600;
}

.header_wrap .two_left span {
    display: block;
    text-align: center;
    font-size: 17px;
    padding: 15px;
    background: var(--bg);
    margin: 0 0 30px 0;
}

.header_wrap .two_left .tw_icon {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.header_wrap .two_left .tw_icon a {
    position: relative;
}

.header_wrap .two_left .tw_icon a~a::before {
    position: absolute;
    content: "";
    top: 0;
    left: -25px;
    width: 1px;
    height: 80%;
    background: #ddd;
}

.header_wrap .two_left .tw_icon a img {
    text-align: center;
    margin-bottom: 20px;
    transition: 0.4s;
}

.header_wrap .two_left .tw_icon a:hover img {
    transform: rotateY(180deg);
}

.header_wrap .two_left .tw_icon p {
    display: block;
    font-size: 18px;
}


.header_wrap .two_right {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    padding: 20px 35px;
}


.header_wrap .three {
    justify-content: center;
}

.header_wrap .three .title {
    padding: 50px 0 30px 10px;
}

.header_wrap .three .three_left {}

.header_wrap .three .three_left p {
    display: block;
    text-align: center;
    font-size: 17px;
    padding: 15px;
    background: var(--bg);
    margin: 0 0 30px 0;
}

.header_wrap .three .three_left p>strong {
    font-weight: 500;
}

.header_wrap .three .three_left .thr_ strong {
    color: var(--mc);
}

.header_wrap .three .three_left span {
    display: block;
    margin-top: 40px;
    font-size: 18px;
}

.header_wrap .three .three_left span>strong {
    font-weight: 600;
    margin-right: 10px;
}

.header_wrap .three .three_right {
    display: flex;
    gap: 30px;
    row-gap: 0;
    padding: 20px 35px;
}

.header_wrap .four {
    justify-content: center;
}

.header_wrap .four .four_left {}

.header_wrap .four .box {
    display: flex;
    gap: 10px;
    align-items: center;
}

.header_wrap .four .box .menu_box {
    display: flex;
    flex-direction: column;
    gap: 20px;

    margin: 0 auto;
    text-align: center;
}

.header_wrap .four .box .menu_box .mbox {
    border: 1px solid #ddd;
    padding: 15px 60px;
}

.header_wrap .four .box .menu_box .mbox img {
    margin: 0 0 10px 0;
    transition: 0.4s;
}

.header_wrap .four .box .menu_box .mbox p {
    font-size: 18px;
}

.header_wrap .four .box .menu_box .mbox:hover img {
    transform: rotateY(180deg);
}

.header_wrap .four .four_right {
    display: flex;
    padding: 20px 35px;
    gap: 30px;
}

/* ****************************************************** */

.main_visual {
    position: relative;
}

.main_visual .main_slide .box {
    position: relative;
    height: 100vh;
}

.main_visual .main_slide .box::before {
    content: "";
    position: absolute;
    inset: 0 0 0 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}

.main_visual .main_slide .box01 {
    background: url(../images/main_visual01.png) no-repeat center center/cover;
}

.main_visual .main_slide .box02 {
    background: url(../images/main_visual02.jpg) no-repeat center center/cover;
}

.main_visual .main_slide .box03 {
    background: url(../images/main_visual03.jpg) no-repeat center center/cover;
}

.main_visual .main_slide .box04 {
    background: url(../images/main_visual04.jpg) no-repeat center center/cover;
}

.main_visual .txt_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 1;

    color: #fff;
    text-shadow: 0 0 10px rgba(0, 0, 0, .2);
    text-align: center;

    letter-spacing: -.06em;
}

.main_visual .txt_box h2 {
    font-size: 80px;
    font-weight: 800;
    margin: 0 0 20px 0;
}

.main_visual .txt_box p {
    font-size: 30px;
    font-weight: 500;
    line-height: 40px;
    max-width: 700px;
    margin: 0 auto;
}


.main_slide .swiper-pagination {
    margin-bottom: 330px;
}

.main_slide .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    text-align: center;
    opacity: 1;
    background: rgba(0, 0, 0, 0);
    border: 1px solid #fff;
    border-radius: 100%;
}

.main_slide .swiper-pagination-bullet-active {
    color: #fff;
    background: #ffffff;
    border: none;
}



.main_visual .arrows {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
    transform: translate(-50%, -50%);
    width: 100%;
}

.main_visual .arrows i {
    position: absolute;
    top: 0;
    cursor: pointer;
    transition: .3s;
    color: rgb(255, 255, 255, 0.5);
}

.main_visual .arrows .left {
    left: 0;
}

.main_visual .arrows:hover .left {
    color: #fff;
}

.main_visual .arrows .right {
    right: 0;

}

.main_visual .arrows:hover .right {
    color: #fff;
}

.main_visual .arrows i::before {
    font-size: 40px;
    padding: 25px;
    background: rgba(0, 0, 0, 0.3);
}

/* --------------------------------------- */

.main_visual .menu {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100%;
    transform: translate(-50%, 0);
    color: #fff;
    z-index: 5;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    overflow: hidden;
}

.main_visual .menu .box {
    text-align: center;
    padding: 0 40px 50px;
    transform: translateY(60%);

    transition: .4s;
}

.main_visual .menu .box:hover {
    transform: translateY(0);
}

.main_visual .menu strong {
    display: block;
    padding: 48px 0;
    font-size: 30px;
}

.main_visual .menu .nemo {
    width: 100%;
    height: 48px;
    line-height: 48px;
    margin-top: 15px;
    font-size: 20px;
    text-align: center;
    border: 1px solid hsla(0, 0%, 100%, .5);
    color: #fff;

}

.main_visual .menu .mbox input {
    border: 1px solid hsla(0, 0%, 100%, .5);
    background: rgba(255, 255, 255, 0.514);
    outline: none;
    padding: 15px 20px;
    width: 100%;
    font-size: 18px;
    font-weight: 500;
}


.main_visual .menu .box01 {
    position: relative;
    background: #a73b59;
}

.main_visual .menu .box02 {
    background: #c77748;
}

.main_visual .menu .box03 {
    background: #6390b9;
}

.main_visual .menu .box04 {
    background: #e89b15;
}

.main_visual .menu .call {
    position: absolute;
    top: -25%;
    left: 0;
    width: 400px;
    height: 70px;
    background: rgb(0, 0, 0, 0.2);
    border-radius: 35px;
}

.main_visual .menu .call i {
    font-size: 30px;
    border-radius: 50%;
    margin-right: 20px;
}


.main_visual .menu .call span {
    font-size: 30px;
    font-weight: 700;
    line-height: 70px;
    color: #fff;
}

/* ************************************* */

.main_map {
    background: url(../images/section02_bg01.6d7ea2e2.jpg);
    text-align: center;
}

.main_map .title {
    font-size: 70px;
    color: #111;
    margin: 150px auto 70px;
    font-weight: 500;
}

.main_map .se {
    display: flex;
    width: 100%;
    margin: 0 auto;
    border: 5px solid var(--pc);
    justify-content: space-between;

    align-items: center;
}

.main_map .se input {
    width: 100%;
    padding: 0 31px;
    height: 70px;
    border: none;
    outline: none;
    background: none;

    font-size: 23px;
}

.main_map .se i {
    font-size: 30px;
    padding: 30px;
    color: var(--pc);
}

.main_map .tag {
    display: flex;
    gap: 20px;
    margin: 80px 0;
    justify-content: space-between;
}

.main_map .tag a {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 25px;
    background: #555;
    border-radius: 30px;
}

.main_map .tag a:hover {
    background: #a73b59;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.main_map .bottom {
    border-top: 1px solid #ddd;
    padding: 80px 0;
}

.main_map .bottom .icon {
    display: flex;
    gap: 30px;
    justify-content: space-around;
}

.main_map .bottom .icon img {
    margin: 0 0 20px 0;
    transition: all .4s .05s;
}

.main_map .bottom .icon p {
    font-size: 20px;
    color: #555;
}

.main_map .bottom .icon li:hover img {
    transform: rotateY(180deg);
}

/* ***************************************** */

.main_sns {
    position: relative;
    background: #f2f2f2 url(../images/section03_bg01.7340d817.jpg) no-repeat top;
}

.main_sns .slide_num {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 99;
    font-size: 20px;
    color: #222;
    text-shadow: 0 0 2px rgba(0, 0, 0, .2);
}

.main_sns .slide_num strong {
    font-size: 25px;
    font-weight: 400;
}

.main_sns .title {
    font-size: 70px;
    font-weight: 600;
    text-align: center;
    color: #fff;
    margin-bottom: 80px;
}

.sns_slide {
    align-items: center;
}


.main_sns .box {
    background: #fff;
    border: 8px solid #ddd;

    transition: all 200ms linear;
    transform: scale(0.8);
}

.main_sns .box img {
    opacity: 0.5;
}

.main_sns .swiper-slide-active {
    transform: scale(1);
    border: 8px solid var(--pc);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #011;
}

.main_sns .swiper-slide-active img {
    opacity: 1;
}

.main_sns .box .img_box img {
    width: 100%;
    height: 100%;
}

.main_sns .box .txt_box {
    padding: 30px 20px 50px 20px;
    color: #9c9c9c;
}

.main_sns .box .txt_box strong {
    display: block;
    color: rgba(167, 59, 90, 0.561);
    font-size: 18px;
    margin: 0 0 25px 0;
}

.main_sns .box .txt_box p {
    font-size: 22px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.main_sns .swiper-slide-active .txt_box {
    color: #222;
}

.main_sns .swiper-slide-active .txt_box strong {
    color: var(--mc);
}

.sns_slide .swiper-pagination {
    font-size: 25px;
    color: #222;
    bottom: 0;
    z-index: 9999;
}

.main_sns .arrows {
    position: absolute;
    display: flex;
    gap: 100px;
    bottom: 10%;
    left: 0;
    width: 100%;
    transform: translate(40%, 20%);

}

.main_sns .arrows .left,
.main_sns .arrows .right {
    width: 140px;
    height: 60px;
    line-height: 60px;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 30px;
    cursor: pointer;

    font-size: 20px;
    font-weight: 500;
    color: #333;

    text-align: center;
}

.main_sns .arrows .left span,
.main_sns .arrows .right i {
    margin-left: 15px;
}

.main_sns .arrows div:hover {
    background: var(--pc);
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

/* ********************************** */

.main_news .news_wrap {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.main_news .left_wrap {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 50px;
}

.main_news .left_wrap .title {
    color: #111;
    font-size: 70px;
    font-weight: 500;
    line-height: 90px;
}

.main_news .left_wrap .tab {
    align-items: center;

}

.tabs li {
    position: relative;
    font-size: 30px;
    font-weight: 500;
    color: #222;
    line-height: 55px;
    padding: 10px 10px 10px 40px;
    cursor: pointer;
    text-align: left;
    margin-bottom: 15px;
}

.tabs li:before {
    position: absolute;
    content: "\f285";
    font-family: bootstrap-icons;
    right: 10%;
    font-size: 25px;
    color: #fff;
}

.tabs li.current {
    position: relative;
    background: var(--pc);
    color: #fff;
    border-radius: 40px;
}

.tabs li.current::after {
    position: absolute;
    content: "";
    top: 16%;
    right: 5%;
    width: 30px;
    height: 30px;
    background: rgba(255, 255, 255, 0.3);
    padding: 10px;
    border-radius: 50%;
}


/* ---------------------------- */
.main_news .tab_cont {
    display: flex;
}

.tab-content {
    display: none;
    padding: 0 15px;
    max-width: 1200px;
}

.tab-content.current {
    display: inherit;
}

/* ----------------------------- */

.main_news .right_wrap {
    display: flex;
    flex-direction: column;
}

.main_news .right_wrap .clear {
    display: block;
    margin-bottom: 20px;
}

.main_news .right_wrap .clear .btn {
    border: 1px solid #ccc;
    border-radius: 25px;
    float: right;
    text-align: center;
    font-size: 20px;
    font-weight: 500;

    padding: 20px 30px 20px 40px;
}

.main_news .right_wrap .box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    gap: 30px;
    height: 520px;
}

.main_news .right_wrap .box .mm {
    position: relative;
    margin: 0 0 30px 0;

}

.main_news .right_wrap .box .mm::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, 0.4);
    border: 6px solid var(--pc);
    opacity: 0;

    transition: 0.3s;
}

.main_news .right_wrap .box .mm::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    width: 80px;
    height: 80px;
    background: url(../images/plus.png);
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .4s;
}

.main_news .right_wrap .box .mm:hover::before {
    opacity: 1;
}

.main_news .right_wrap .box .mm:hover::after {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(1turn);
}

.main_news .right_wrap .box .tt {}

.main_news .right_wrap .box .tt strong {
    display: block;
    font-size: 25px;
    font-weight: 700;
    color: var(--mc);
    margin: 0 0 20px 0;
}

.main_news .right_wrap .box .tt p {
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    color: #333;

}

/* ********************************** */

.footer {
    background: #f3f3f3;
    padding: 50px 0;
}

.ft_wrap {
    display: flex;
    justify-content: space-between;
}

.footer .ft_middle {
    display: flex;
    flex-direction: column;
}

.footer .ft_middle .ft_gnb {
    display: flex;
    gap: 30px;
    font-size: 17px;
    font-weight: 500;

    margin: 0 0 30px 0;
}

.footer .ft_middle .ft_gnb li {
    position: relative;
}

.footer .ft_middle .ft_gnb li~li::before {
    position: absolute;
    content: "";
    top: 2px;
    left: -15%;
    width: 1px;
    height: 12px;
    background: #b3b3b3;
}

.footer .ft_middle .ft_gnb strong {
    color: var(--mc);
    font-weight: 700;
}

.footer .ft_middle p {
    font-size: 14px;
    line-height: 26px;
    color: #888;
}

.footer .ft_middle .f_sns {
    display: flex;
    gap: 30px;
    margin: 30px 0;
}

.footer .ft_middle .f_sns .s_naver,
.footer .ft_middle .f_sns .s_youtube {
    font-size: 14px;
    color: #333;
}

.ft_right {
    display: flex;
    flex-direction: column;
}

.footer .ft_right .ft_sec>ul {
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
}

.footer .ft_right .ft_sec>ul>li {
    position: relative;
    width: 255px;
    height: 55px;
    line-height: 55px;
    border-radius: 25px;
    color: #fff;
    background: #939296;
    padding: 0 25px;
}

.footer .ft_right .ft_sec>ul>li::before {
    position: absolute;
    content: "\f64d";
    right: 10%;
    font-family: bootstrap-icons;
    font-size: 18px;
}


.mopen {
    display: none;
}


































@media (max-width:768px) {
    #fp-nav.right {
        right: 50px;
    }

    #fp-nav ul li,
    .fp-slidesNav ul li {
        display: block;
        width: 25px;
        height: 3px;
        margin: 30px;
        position: relative;
    }

    #fp-nav ul li a.active span,
    #fp-nav ul li:hover a.active span,
    .fp-slidesNav ul li a.active span,
    .fp-slidesNav ul li:hover a.active span {
        border-radius: 0%;
        height: 4px;
        width: 35px;
        background: var(--mc);
        transform: rotate(20deg);
    }

    #fp-nav ul li a span,
    .fp-slidesNav ul li a span {
        border-radius: 0%;
        height: 3px;
        width: 25px;
        background: rgba(0, 0, 0, 0.3);
    }


    #fp-nav ul li .fp-tooltip {
        /* b */
        font-size: 20px;
        font-size: 800;
        top: 0;
        color: var(--pc);
    }

    /* ===================================== */

    body {
        position: relative;
    }

    body::before {
        position: absolute;
        content: "";
        top: 0;
        left: 110px;
        width: 1px;
        height: 100%;
        background: rgba(221, 221, 221, 0.5);
        z-index: 9999;
    }

    body::after {
        position: absolute;
        content: "";
        top: 0;
        right: 110px;
        width: 1px;
        height: 100%;
        background: rgba(221, 221, 221, 0.5);
        z-index: 9999;
    }

    :root {
        --mc: #a73b59;
        --bg: #f7f7f7;
        --pc: #e89b15;
    }

    .header {
        position: fixed;
        inset: 0 0 0 0;
        height: 100px;
        z-index: 9999;
        border-top: 3px solid var(--pc);
        border-bottom: 1px solid rgba(221, 221, 221, 0.5);
    }

    .header_wrap {
        align-items: center;
        position: relative;
        transition: 0.5s;
        /*     border-bottom: 1px solid rgba(221, 221, 221, 0.5); */
    }

    .header_wrap .sec {
        display: flex;
        justify-content: space-around;
        height: 98px;
        border-left: 1px solid rgba(221, 221, 221, 0.2);
        border-right: 1px solid rgba(221, 221, 221, 0.2);

        color: #fff;
    }

    .header_wrap:hover {
        background: #fff;
    }

    .header_wrap .sec:hover {
        color: #000;
    }

    .header_wrap .sec .logo {
        z-index: 1;
    }

    .header_wrap .sec .lo_r {
        display: none;
    }

    .header_wrap:hover .lo_r {
        display: block;
    }

    .header_wrap:hover .lo_w {
        display: none;
    }

    /* ----------------------------------- */
    .header.on .header_wrap .sec {
        color: #000;
    }

    .header.on .lo_w {
        display: none;
    }

    .header.on .lo_r {
        display: block;
    }

    /*  */
    .header.in {
        background: #fff;
    }

    .header.in .header_wrap .sec {
        color: #000;
    }

    .header.in .lo_w {
        display: none;
    }

    .header.in .lo_r {
        display: block;
    }


    /* ----------------------------------- */

    .header_wrap .gnb>ul {
        display: flex;
        font-size: 20px;
    }

    .header_wrap .gnb>ul>li {
        padding: 38px 40px;
    }

    .header_wrap .gnb>ul>li:hover {
        color: var(--mc);
        font-weight: 700;
    }

    .header_wrap .link {
        display: flex;
        gap: 30px;
        font-size: 18px;
        align-items: center;
    }

    .header_wrap .link .list {
        font-size: 35px;
    }

    .header_wrap .sub {
        position: absolute;
        display: flex;
        top: 97px;
        left: 0;
        width: 100%;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        background: #fff;

        visibility: hidden;
        opacity: 0;

        color: initial;
        font-weight: initial;

        box-shadow: 1px 10px 9px 2px rgba(0, 0, 0, 0.13);
    }

    .header_wrap .gnb>ul>li:hover .sub {
        opacity: 1;
        visibility: visible;
    }

    .header_wrap .sub .title {
        font-size: 30px;
        font-weight: 700;
        padding: 35px 0;
        color: var(--mc);
    }


    .header_wrap .left {
        width: 455px;
        border-right: 1px solid #ddd;
        padding: 0 20px;
        color: initial;
    }

    .header_wrap .right>li>a {
        position: relative;
        display: block;
        font-size: 20px;
        font-weight: 500;
        padding: 15px 30px;
        border: 1px solid #ddd;
        color: #666;
        overflow: hidden;
        transition: all .2s;
    }

    .header_wrap .right>li>a::before {
        position: absolute;
        content: "\f285";
        top: 30%;
        right: 5%;
        font-family: bootstrap-icons;
        color: #fff;
    }

    .header_wrap .right>li>a:hover {
        background: #a73b59;
        color: #fff;
    }

    .header_wrap .cub {
        position: relative;
        top: 0;
        background: var(--bg);
    }

    .header_wrap .cub li {
        position: relative;
        padding: 15px 40px;
        font-size: 18px;
        line-height: 15px;
        color: #666;
        text-align: left;
    }

    .header_wrap .cub li::before {
        position: absolute;
        content: "";
        top: 50%;
        left: 8%;
        width: 3px;
        height: 3px;
        background: #c7c7c7;
        border-radius: 50%;
    }

    .header_wrap .cub li:hover {
        color: var(--mc);
        font-weight: 600;
        text-decoration: underline;
    }

    .header_wrap .one {
        display: flex;
        justify-content: center;
        color: initial;
    }


    .header_wrap .one .one_left {
        padding: 0 30px;
        border-right: 1px solid #ddd;
    }

    .header_wrap .one .one_left p {
        font-size: 25px;
        margin: 0 0 35px 0;
    }

    .header_wrap .one .one_left input[type="text"] {
        border: 1px solid #ccc;
        outline: none;
        font-size: 15px;
        padding: 15px 20px;
    }

    .header_wrap .one .one_left button {
        background: var(--pc);
        border: none;
        font-size: 15px;
        padding: 15px;
        color: #fff;
    }

    .header_wrap .one .one_right {
        display: flex;
        text-align: center;
    }

    .header_wrap .one_right li {
        padding: 50px 30px;
    }


    .header_wrap .one_right li:hover {
        background: var(--mc);
        color: #fff;
    }


    .header_wrap .one li {
        position: relative;
    }

    .header_wrap .one li~li::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 1px;
        height: 100%;
        background: #ddd;
    }

    .header_wrap .one_right img {
        display: block;
        overflow: visible;
        height: 110px;
        margin-bottom: 20px;
        padding: 30px;
        background: var(--bg);
        border: 1px solid #ddd;
        border-radius: 50%;
    }

    .header_wrap .one_right p {
        font-size: 25px;
    }

    .header_wrap .two {
        display: flex;
        justify-content: center;
    }

    .header_wrap .two_left {}

    .header_wrap .two_left p {
        font-size: 25px;
        margin: 0 0 35px 0;
    }

    .header_wrap .two_left i {
        font-size: 20px;
        padding: 8px 12px;
        background: var(--bg);
        border-radius: 50%;
        border: 1px solid #ddd;
        margin: 0 5px 0 0;
    }

    .header_wrap .two_left input {
        border: 1px solid #ccc;
        outline: none;
        font-size: 15px;
        padding: 15px 20px;
        width: 40%;

        margin: 0 0 30px 0;
    }

    .header_wrap .two_left input[type="text"] {
        margin-left: -6px;
        width: 40%;
    }

    .header_wrap .two_left button {
        background: var(--pc);
        border: none;
        font-size: 15px;
        padding: 15px;
        color: #fff;
    }

    .header_wrap .two_left .btn {
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
        gap: 30px;
        margin: 0 0 30px 0;
    }

    .header_wrap .two_left .btn a {
        color: #666;
        padding: 15px 0;
        border: 1px solid #ddd;
        border-radius: 25px;
    }

    .header_wrap .two_left .btn a:hover {
        border: 1px solid var(--mc);
        color: var(--mc);
        font-weight: 600;
    }

    .header_wrap .two_left span {
        display: block;
        text-align: center;
        font-size: 17px;
        padding: 15px;
        background: var(--bg);
        margin: 0 0 30px 0;
    }

    .header_wrap .two_left .tw_icon {
        display: flex;
        justify-content: space-between;
        text-align: center;
    }

    .header_wrap .two_left .tw_icon a {
        position: relative;
    }

    .header_wrap .two_left .tw_icon a~a::before {
        position: absolute;
        content: "";
        top: 0;
        left: -25px;
        width: 1px;
        height: 80%;
        background: #ddd;
    }

    .header_wrap .two_left .tw_icon a img {
        text-align: center;
        margin-bottom: 20px;
        transition: 0.4s;
    }

    .header_wrap .two_left .tw_icon a:hover img {
        transform: rotateY(180deg);
    }

    .header_wrap .two_left .tw_icon p {
        display: block;
        font-size: 18px;
    }


    .header_wrap .two_right {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
        padding: 20px 35px;
    }


    .header_wrap .three {
        justify-content: center;
    }

    .header_wrap .three .title {
        padding: 50px 0 30px 10px;
    }

    .header_wrap .three .three_left {}

    .header_wrap .three .three_left p {
        display: block;
        text-align: center;
        font-size: 17px;
        padding: 15px;
        background: var(--bg);
        margin: 0 0 30px 0;
    }

    .header_wrap .three .three_left p>strong {
        font-weight: 500;
    }

    .header_wrap .three .three_left .thr_ strong {
        color: var(--mc);
    }

    .header_wrap .three .three_left span {
        display: block;
        margin-top: 40px;
        font-size: 18px;
    }

    .header_wrap .three .three_left span>strong {
        font-weight: 600;
        margin-right: 10px;
    }

    .header_wrap .three .three_right {
        display: flex;
        gap: 30px;
        row-gap: 0;
        padding: 20px 35px;
    }

    .header_wrap .four {
        justify-content: center;
    }

    .header_wrap .four .four_left {}

    .header_wrap .four .box {
        display: flex;
        gap: 10px;
        align-items: center;
    }

    .header_wrap .four .box .menu_box {
        display: flex;
        flex-direction: column;
        gap: 20px;

        margin: 0 auto;
        text-align: center;
    }

    .header_wrap .four .box .menu_box .mbox {
        border: 1px solid #ddd;
        padding: 15px 60px;
    }

    .header_wrap .four .box .menu_box .mbox img {
        margin: 0 0 10px 0;
        transition: 0.4s;
    }

    .header_wrap .four .box .menu_box .mbox p {
        font-size: 18px;
    }

    .header_wrap .four .box .menu_box .mbox:hover img {
        transform: rotateY(180deg);
    }

    .header_wrap .four .four_right {
        display: flex;
        padding: 20px 35px;
        gap: 30px;
    }

    /* ****************************************************** */

    .main_visual {
        position: relative;
    }

    .main_visual .main_slide .box {
        position: relative;
        height: 100vh;
    }

    .main_visual .main_slide .box::before {
        content: "";
        position: absolute;
        inset: 0 0 0 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.3);
    }

    .main_visual .main_slide .box01 {
        background: url(../images/main_visual01.png) no-repeat center center/cover;
    }

    .main_visual .main_slide .box02 {
        background: url(../images/main_visual02.jpg) no-repeat center center/cover;
    }

    .main_visual .main_slide .box03 {
        background: url(../images/main_visual03.jpg) no-repeat center center/cover;
    }

    .main_visual .main_slide .box04 {
        background: url(../images/main_visual04.jpg) no-repeat center center/cover;
    }

    .main_visual .txt_box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        z-index: 1;

        color: #fff;
        text-shadow: 0 0 10px rgba(0, 0, 0, .2);
        text-align: center;

        letter-spacing: -.06em;
    }

    .main_visual .txt_box h2 {
        font-size: 80px;
        font-weight: 800;
        margin: 0 0 20px 0;
    }

    .main_visual .txt_box p {
        font-size: 30px;
        font-weight: 500;
        line-height: 40px;
        max-width: 700px;
        margin: 0 auto;
    }


    .main_slide .swiper-pagination {
        margin-bottom: 330px;
    }

    .main_slide .swiper-pagination-bullet {
        width: 15px;
        height: 15px;
        text-align: center;
        opacity: 1;
        background: rgba(0, 0, 0, 0);
        border: 1px solid #fff;
        border-radius: 100%;
    }

    .main_slide .swiper-pagination-bullet-active {
        color: #fff;
        background: #ffffff;
        border: none;
    }



    .main_visual .arrows {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 999;
        transform: translate(-50%, -50%);
        width: 100%;
    }

    .main_visual .arrows i {
        position: absolute;
        top: 0;
        cursor: pointer;
        transition: .3s;
        color: rgb(255, 255, 255, 0.5);
    }

    .main_visual .arrows .left {
        left: 15px;
    }

    .main_visual .arrows:hover .left {
        color: #fff;
    }

    .main_visual .arrows .right {
        right: 15px;

    }

    .main_visual .arrows:hover .right {
        color: #fff;
    }

    .main_visual .arrows i::before {
        font-size: 40px;
        padding: 25px;
        background: rgba(0, 0, 0, 0.3);
    }

    /* --------------------------------------- */

    .main_visual .menu {
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 100%;
        transform: translate(-50%, 0);
        color: #fff;
        z-index: 5;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        overflow: hidden;
    }

    .main_visual .menu .box {
        text-align: center;
        padding: 0 40px 50px;
        transform: translateY(60%);

        transition: .4s;
    }

    .main_visual .menu .box:hover {
        transform: translateY(0);
    }

    .main_visual .menu strong {
        display: block;
        padding: 48px 0;
        font-size: 30px;
    }

    .main_visual .menu .nemo {
        width: 100%;
        height: 48px;
        line-height: 48px;
        margin-top: 15px;
        font-size: 20px;
        text-align: center;
        border: 1px solid hsla(0, 0%, 100%, .5);
        color: #fff;

    }

    .main_visual .menu .mbox input {
        border: 1px solid hsla(0, 0%, 100%, .5);
        background: rgba(255, 255, 255, 0.514);
        outline: none;
        padding: 15px 20px;
        width: 100%;
        font-size: 18px;
        font-weight: 500;
    }


    .main_visual .menu .box01 {
        position: relative;
        background: #a73b59;
    }

    .main_visual .menu .box02 {
        background: #c77748;
    }

    .main_visual .menu .box03 {
        background: #6390b9;
    }

    .main_visual .menu .box04 {
        background: #e89b15;
    }

    .main_visual .menu .call {
        position: absolute;
        top: -25%;
        left: 0;
        width: 400px;
        height: 70px;
        background: rgb(0, 0, 0, 0.2);
        border-radius: 35px;
    }

    .main_visual .menu .call i {
        font-size: 30px;
        border-radius: 50%;
        margin-right: 20px;
    }


    .main_visual .menu .call span {
        font-size: 30px;
        font-weight: 700;
        line-height: 70px;
        color: #fff;
    }

    /* ************************************* */

    .main_map {
        background: url(../images/section02_bg01.6d7ea2e2.jpg);
        text-align: center;
    }

    .main_map .title {
        font-size: 70px;
        color: #111;
        margin: 150px auto 70px;
        font-weight: 500;
    }

    .main_map .se {
        display: flex;
        width: 100%;
        margin: 0 auto;
        border: 5px solid var(--pc);
        justify-content: space-between;

        align-items: center;
    }

    .main_map .se input {
        width: 100%;
        padding: 0 31px;
        height: 70px;
        border: none;
        outline: none;
        background: none;

        font-size: 23px;
    }

    .main_map .se i {
        font-size: 30px;
        padding: 30px;
        color: var(--pc);
    }

    .main_map .tag {
        display: flex;
        gap: 20px;
        margin: 80px 0;
        justify-content: space-between;
    }

    .main_map .tag a {
        color: #fff;
        font-size: 20px;
        font-weight: 700;
        padding: 18px 25px;
        background: #555;
        border-radius: 30px;
    }

    .main_map .tag a:hover {
        background: #a73b59;
        box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    }

    .main_map .bottom {
        border-top: 1px solid #ddd;
        padding: 80px 0;
    }

    .main_map .bottom .icon {
        display: flex;
        gap: 30px;
        justify-content: space-around;
    }

    .main_map .bottom .icon img {
        margin: 0 0 20px 0;
        transition: all .4s .05s;
    }

    .main_map .bottom .icon p {
        font-size: 20px;
        color: #555;
    }

    .main_map .bottom .icon li:hover img {
        transform: rotateY(180deg);
    }

    /* ***************************************** */

    .main_sns {
        position: relative;
        background: #f2f2f2 url(../images/section03_bg01.7340d817.jpg) no-repeat top;
    }

    .main_sns .slide_num {
        position: absolute;
        bottom: 100px;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: 99;
        font-size: 20px;
        color: #222;
        text-shadow: 0 0 2px rgba(0, 0, 0, .2);
    }

    .main_sns .slide_num strong {
        font-size: 25px;
        font-weight: 400;
    }

    .main_sns .title {
        font-size: 70px;
        font-weight: 600;
        text-align: center;
        color: #fff;
        margin-bottom: 80px;
    }

    .sns_slide {
        align-items: center;
    }


    .main_sns .box {
        background: #fff;
        border: 8px solid #ddd;

        transition: all 200ms linear;
        transform: scale(0.8);
    }

    .main_sns .box img {
        opacity: 0.5;
    }

    .main_sns .swiper-slide-active {
        transform: scale(1);
        border: 8px solid var(--pc);
        box-shadow: 0 0 10px rgba(0, 0, 0, .2);
        color: #011;
    }

    .main_sns .swiper-slide-active img {
        opacity: 1;
    }

    .main_sns .box .img_box img {
        width: 100%;
        height: 100%;
    }

    .main_sns .box .txt_box {
        padding: 30px 20px 50px 20px;
        color: #9c9c9c;
    }

    .main_sns .box .txt_box strong {
        display: block;
        color: rgba(167, 59, 90, 0.561);
        font-size: 18px;
        margin: 0 0 25px 0;
    }

    .main_sns .box .txt_box p {
        font-size: 22px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .main_sns .swiper-slide-active .txt_box {
        color: #222;
    }

    .main_sns .swiper-slide-active .txt_box strong {
        color: var(--mc);
    }

    .sns_slide .swiper-pagination {
        font-size: 25px;
        color: #222;
        bottom: 0;
        z-index: 9999;
    }

    .main_sns .arrows {
        position: absolute;
        display: flex;
        gap: 100px;
        bottom: 10%;
        left: 0;
        width: 100%;
        transform: translate(40%, 20%);

    }

    .main_sns .arrows .left,
    .main_sns .arrows .right {
        width: 140px;
        height: 60px;
        line-height: 60px;
        background: #fff;
        border: 1px solid #d9d9d9;
        border-radius: 30px;
        cursor: pointer;

        font-size: 20px;
        font-weight: 500;
        color: #333;

        text-align: center;
    }

    .main_sns .arrows .left span,
    .main_sns .arrows .right i {
        margin-left: 15px;
    }

    .main_sns .arrows div:hover {
        background: var(--pc);
        color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    }

    /* ********************************** */

    .main_news .news_wrap {
        display: flex;
        justify-content: space-between;
        gap: 30px;
    }

    .main_news .left_wrap {
        display: flex;
        flex-direction: column;
        gap: 50px;
        margin-top: 50px;
    }

    .main_news .left_wrap .title {
        color: #111;
        font-size: 70px;
        font-weight: 500;
        line-height: 90px;
    }

    .main_news .left_wrap .tab {
        align-items: center;

    }

    .tabs li {
        position: relative;
        font-size: 30px;
        font-weight: 500;
        color: #222;
        line-height: 55px;
        padding: 10px 10px 10px 40px;
        cursor: pointer;
        text-align: left;
        margin-bottom: 15px;
    }

    .tabs li:before {
        position: absolute;
        content: "\f285";
        font-family: bootstrap-icons;
        right: 10%;
        font-size: 25px;
        color: #fff;
    }

    .tabs li.current {
        position: relative;
        background: var(--pc);
        color: #fff;
        border-radius: 40px;
    }

    .tabs li.current::after {
        position: absolute;
        content: "";
        top: 16%;
        right: 5%;
        width: 30px;
        height: 30px;
        background: rgba(255, 255, 255, 0.3);
        padding: 10px;
        border-radius: 50%;
    }


    /* ---------------------------- */
    .main_news .tab_cont {
        display: flex;
    }

    .tab-content {
        display: none;
        padding: 0 15px;
        max-width: 1200px;
    }

    .tab-content.current {
        display: inherit;
    }

    /* ----------------------------- */

    .main_news .right_wrap {
        display: flex;
        flex-direction: column;
    }

    .main_news .right_wrap .clear {
        display: block;
        margin-bottom: 20px;
    }

    .main_news .right_wrap .clear .btn {
        border: 1px solid #ccc;
        border-radius: 25px;
        float: right;
        text-align: center;
        font-size: 20px;
        font-weight: 500;

        padding: 20px 30px 20px 40px;
    }

    .main_news .right_wrap .box {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;
        gap: 30px;
        height: 520px;
    }

    .main_news .right_wrap .box .mm {
        position: relative;
        margin: 0 0 30px 0;

    }

    .main_news .right_wrap .box .mm::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        background: rgb(0, 0, 0, 0.4);
        border: 6px solid var(--pc);
        opacity: 0;

        transition: 0.3s;
    }

    .main_news .right_wrap .box .mm::after {
        position: absolute;
        content: "";
        top: 50%;
        left: 50%;
        width: 80px;
        height: 80px;
        background: url(../images/plus.png);
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: all .4s;
    }

    .main_news .right_wrap .box .mm:hover::before {
        opacity: 1;
    }

    .main_news .right_wrap .box .mm:hover::after {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(1turn);
    }

    .main_news .right_wrap .box .tt {}

    .main_news .right_wrap .box .tt strong {
        display: block;
        font-size: 25px;
        font-weight: 700;
        color: var(--mc);
        margin: 0 0 20px 0;
    }

    .main_news .right_wrap .box .tt p {
        font-size: 20px;
        font-weight: 500;
        line-height: 25px;
        color: #333;

    }

    /* ********************************** */

    .footer {
        background: #f3f3f3;
        padding: 50px 0;
    }

    .ft_wrap {
        display: flex;
        justify-content: space-between;
    }

    .footer .ft_middle {
        display: flex;
        flex-direction: column;
    }

    .footer .ft_middle .ft_gnb {
        display: flex;
        gap: 30px;
        font-size: 17px;
        font-weight: 500;

        margin: 0 0 30px 0;
    }

    .footer .ft_middle .ft_gnb li {
        position: relative;
    }

    .footer .ft_middle .ft_gnb li~li::before {
        position: absolute;
        content: "";
        top: 2px;
        left: -15%;
        width: 1px;
        height: 12px;
        background: #b3b3b3;
    }

    .footer .ft_middle .ft_gnb strong {
        color: var(--mc);
        font-weight: 700;
    }

    .footer .ft_middle p {
        font-size: 14px;
        line-height: 26px;
        color: #888;
    }

    .footer .ft_middle .f_sns {
        display: flex;
        gap: 30px;
        margin: 30px 0;
    }

    .footer .ft_middle .f_sns .s_naver,
    .footer .ft_middle .f_sns .s_youtube {
        font-size: 14px;
        color: #333;
    }

    .ft_right {
        display: flex;
        flex-direction: column;
    }

    .footer .ft_right .ft_sec>ul {
        display: flex;
        gap: 30px;
        margin-bottom: 30px;
    }

    .footer .ft_right .ft_sec>ul>li {
        position: relative;
        width: 255px;
        height: 55px;
        line-height: 55px;
        border-radius: 25px;
        color: #fff;
        background: #939296;
        padding: 0 25px;
    }

    .footer .ft_right .ft_sec>ul>li::before {
        position: absolute;
        content: "\f64d";
        right: 10%;
        font-family: bootstrap-icons;
        font-size: 18px;
    }


    .mopen {
        display: none;
    }




}